.review-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.review-text{
    color: dodgerblue;
    font-weight: 700;
    font-size: 250%;
}
@media only screen and (max-width:576px){
    .review-container{
        grid-template-columns: repeat(1,1fr);
    }
}